<template>
  <div :class="{ 'animated bounce infinite': cat.isKilling }">
    <img src="../assets/pixel-cat.png" style="height: 100%;">
  </div>    
</template>

<script>
export default {
  props: ['cat']
}
</script>

<style>

</style>
