<template>
  <div>
    <img v-if="!mouse.attacked" src="../assets/pixel-mouse.png" style="height: 100%;">
    <img v-else src="../assets/pixel-blood.png" style="height: 100%;">
  </div>
</template>

<script>
import { tap, debounceTime, first } from 'rxjs/operators';

import dingSound from '../assets/ding.mp3';

export default {
  props: ['mouse', 'catPosition$'],
  methods: {
    squeak() {
      new Audio(dingSound).play();
      this.$emit('squeak', this.mouse);
    }
  },
  created() {
    const { mouse } = this;
    this.catPosition$.pipe(
      debounceTime(200),
      first(({x, y}) => x === mouse.x && y === mouse.y),
      tap(() => {
        this.mouse.attacked = true;
        this.squeak();
      })
    ).subscribe();
  }
}
</script>

<style>

</style>
