<template>
  <div id="app" tabindex="0"
    @keyup.arrow-up="move(0,-1)"
    @keyup.arrow-down="move(0,1)"
    @keyup.arrow-left="move(-1,0)"
    @keyup.arrow-right="move(1,0)"
  > 
    <div id="board">
      <cute-kitty
        :cat="cat"
        class="cat"
        :style="{ 
          left: `${cat.x}%`, 
          top: `${cat.y}%`
        }"
      />
      <little-mouse 
        v-for="mouse of mice" :key="mouse.id"
        :mouse="mouse" @squeak="squeak$.next($event)"
        :catPosition$="catPosition$"
        class="mouse"
        :style="{ 
          left: `${mouse.x}%`, 
          top: `${mouse.y}%`
        }"
      />
    </div>
    <div id="score-board">
      Score: {{getScoreString()}}
    </div>
  </div>
</template>

<script>
import 'animate.css';

import CuteKitty from './components/CuteKitty.vue';
import LittleMouse from './components/LittleMouse.vue';

import { Subject, interval } from 'rxjs';
import { map, share, filter, tap, debounceTime, delay } from 'rxjs/operators';

export default {
  components: { CuteKitty, LittleMouse },
  data() {
    return {
      cat: { x: 0, y: 0, isKilling: false },
      mice: [],
      score: 0,
      move$: new Subject(),
      catPosition$: null,
      squeak$: new Subject(),      
    };
  },
  methods: {
    move(x, y) {
      this.move$.next({ x, y });
    },
    getScoreString() {
      return this.score.toString().padStart(5, '0');
    }
  },
  created() {
    const { move$, squeak$, cat } = this;
    
    const catPosition$ = move$.pipe(
      map(({x, y}) => ({ x: x * 10 + cat.x, y: y * 10 + cat.y })),
      share()
    );
    catPosition$.subscribe(({x, y}) => { cat.x = x; cat.y = y; });
    this.catPosition$ = catPosition$;
    
    const mouse$ = interval(5000).pipe(
      filter(() => this.mice.length < 10),
      map(id => ({
        id: id,
        x: Math.floor(Math.random() * 9 + 1) * 10,
        y: Math.floor(Math.random() * 9 + 1) * 10,
        attacked: false
      }))
    );
    mouse$.subscribe(mouse => this.mice.push(mouse));
    
    squeak$.pipe(
      delay(3000),
      tap(mouse => this.mice = this.mice.filter(m => m !== mouse))      
    ).subscribe();

    squeak$.pipe(
      tap(() => this.score++),
      tap(() => cat.isKilling = true),
      debounceTime(1000),
      tap(() => cat.isKilling = false)
    ).subscribe();

  },
  mounted() {
    document.getElementById('app').focus();
  }
};
</script>

<style>
body {
  margin: 0;
  background: lightgray;
}
#app {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  outline: 0;
}
#score-board {
  font-family: Courier, monospace;
  font-size: 5vh;
  font-weight: bold;
  color: gray;
  text-transform: uppercase;
  text-align: center;
  margin: 15px;
}
#board {
  position: relative;
  height: 80%;
  width: 80%;
  margin: 0 auto;
  border: 1px solid lightcoral;
  overflow: hidden;
  background: lightpink;
}
.cat {
  position: absolute;
  width: 10%;
  height: 10%;
  transition: ease-in-out;
  transition-duration: 200ms;
  z-index: 2;
  text-align: center;
}
.mouse {
  position: absolute;
  width: 10%;
  height: 10%;
  z-index: 1;
  text-align: center;
  transform: scale(0.5);
}
</style>
